body {
    background-color: dodgerblue;
    font-family: "Source Sans 3", sans-serif; /* Исправлено на правильное имя свойства */
}

a {
    padding: 4px 10px;
    /* background-color: dodgerblue; */
    /* color: white; */
    /* text-decoration: none; */
    /* border-radius: 16px; */
}

h1 {
    margin-top: 0;
}

img {
    border-radius: 16px;
}

.main {
    background-color: white;
    width: 980px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-radius: 16px;
    border: 2px #21325E solid;
}

#image-card-container {
    display: flex; /* Используем flexbox для упрощения размещения изображений */
    flex-wrap: wrap; /* Позволяет изображениям переносить на новую строку */
    justify-content: center; /* Центрует изображения в контейнере */
    gap: 10px; /* Добавляем промежутки между изображениями */
}

/* Дополнительные стили для изображений */
#image-card-container  {
    max-width: 150px; /* Ограничиваем максимальную ширину изображений */
    height: auto; /* Обеспечиваем сохранение пропорций */
}